<div class="row">
    <div class="logo">
        <a href="/">{% asset kuri-head.png %}</a>
    </div>
    <div class="menu">
        <ul>
            {% for section in site.data.sections %}
            <li {% if section.url == page.url %}class="active"{% endif %}>
                <a href="{{ section.url }}">
                    <i class="fas fa-{{ section.icon }} fa-fw" aria-hidden="true"></i>
                    {{ section.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>