<div class="row">
    <div class="logo">
        {% if page.layout == "guide" and page.category == "getting-started" %}
        <a href="/guides/getting-started"><h1>Getting Started</h1></a>
        {% elsif page.layout == "guide" %}
        <a href="/guides"><h1>Guides</h1></a>
        {% elsif page.layout == "reference" %}
        <a href="/reference"><h1>Reference</h1></a>
        {% endif %}
    </div>
    <div class="menu">
        <ul>
            {% if page.layout == "guide" %}
                {% for guide in site.guides %}
                    <li {% if guide.url == page.url %}class="active"{% endif %}>
                        <a href="{{ guide.url }}">{{ guide.title }}</a>
                    </li>
                {% endfor %}
            {% elsif page.layout == "reference" %}
                {% for reference in site.reference %}
                    <li {% if reference.url == page.url %}class="active"{% endif %}>
                        {% if reference.category == "package" %}
                            {% assign icon = "archive" %}
                        {% elsif reference.category == "node" %}
                            {% assign icon = "certificate" %}
                        {% elsif reference.category == "launch" %}
                            {% assign icon = "play" %}
                        {% elsif reference.category contains "message" %}
                            {% assign icon = "envelope" %}
                        {% else %}
                            {% assign icon = "question" %}
                        {% endif %}

                        <a href="{{ reference.url }}">
                            <i class="fas fa-{{ icon }}" aria-hidden="true"></i>
                            {{ reference.title }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
