<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
    {% if page.title %}
        {{ page.title | escape }} | {{ site.title | escape }}
    {% else %}
        {{ site.title }}
    {% endif %}
</title>

<meta name="description"
      content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% asset main.css %}
{% feed_meta %}
{% seo %}