<div class="row navbar">
    {% if page.layout != "default" %}
        <div class="col-3">
            {% include nav/primary-narrow.html %}
        </div>
        <div class="col-9 secondary">
            {% include nav/secondary.html %}
        </div>
    {% else %}
        <div class="col-12 d-block d-sm-none d-lg-block">
            {% include nav/primary-wide.html %}
        </div>
        <div class="col-12 d-none d-sm-block d-lg-none">
            {% include nav/primary-narrow.html %}
        </div>
    {% endif %}
</div>
