---
---
@import "bootstrap/functions";
@import "variables";
@import "bootstrap-custom";

@import "syntax-highlighting";
@import "browser-prefix-mixin";
@import "nav";
@import "search";

html, body {
  height: 100%;
}

body {
  background: #f6f7fa;
  position: relative;
}

.content {
  padding: 0 20px;

  h1 {
    color: $headings-color;
    font-size: $headings-line-height;
    font-weight: $headings-font-weight;
    margin: 0;
    padding: 21px 0;
  }
}
