---
---
@import "bootstrap/functions";
@import "variables";
@import "bootstrap-custom";

@import "syntax-highlighting";
@import "browser-prefix-mixin";
@import "nav";
@import "search";

html, body {
  height: 100%;
}

body {
  background: #f6f7fa;
  position: relative;
}

h1 .title {
  color: $headings-color;
  font-size: $h1-font-size;
  font-weight: $headings-font-weight;
  margin: 0;
  padding: 21px 0;
}
