---
layout: base
---
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-2 v-align box" id="navigation">
            {% include navigation.html %}
        </div>
        <div class="col-xl-10 col-lg-10 col-md-11 col-sm-10 v-align">
            <div class="row">
                {% include search.html %}
            </div>
            <div class="row">
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
